
/*hi css!*/

.login_div{
    background-color: aliceblue;
    text-align: inherit;
}

html{
    text-align: inherit;
    background-color: lightcoral;
}

#output{
    background-color:white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
}